body{
    min-height: 100vh;
    background-color: red;
}
header {
    color: rgb(255, 255, 255);
    background-color: rgb(150, 185, 219);
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#paragrafo{
    color: rgb(255, 255, 255);
    font-size: 1.2em;
}

main{
    color: rgb(255, 255, 255);
    background-color: rgb(12, 41, 69);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
img{
    margin-bottom: 15px;

}
footer{

    color: rgb(255, 255, 255);
    background-color: rgb(150, 185, 219);
    height: 10vh;
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#legendaImg{
    font-size: 1.2em;

}