#meuHeader {
    color: rgb(255, 255, 255);
    background-color: rgb(200, 222, 243);
    text-align: center;
    min-height: 150px;
    padding-top: 50px;
}

#paragrafo{
    color: rgb(255, 255, 255);
    padding-top: 10px;   
    font-size: 1.2em;
}

#meuMain{
    color: rgb(255, 255, 255);
    background-color: rgb(12, 41, 69);
    text-align: center;
    min-height: 639px;
    padding-top: 50px;

}
#meuFooter{

    color: rgb(255, 255, 255);
    background-color: rgb(200, 222, 243);
    text-align: center;
    min-height: 150px;
    

}
#legendaImg{
    padding-top: 30px;
    font-size: 1.2em;

}
li{
    padding-top: 60px;
    font-size: 1.5em;
}
li p{
    color: black;
}